<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./images/cropped-Strong-3-1.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <title>
      Kids Online Classess – Online live classes for kids of ages 6-18
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-light navbar-expand-lg bg-light sticky-top">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img
            src="/images/cropped-Strong-3-1.png"
            width="150"
            height="auto"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link active"> Home </a>
            </li>
            <li class="nav-item">
              <a href="#whyus" class="nav-link"> About us </a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- HERO SECTION -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="heading">Grow Your Career With<br />Complete Courses</h1>
        <p class="lead">
          Our Personalised Programs work to inspire every chapter of a child's
          life. Join us now on<br />this journey of fun and learning like many
          other students have!
        </p>
        <p class="lead">
          <a href="#readmore"
            ><button class="btn btn-lg btn-warning button1">
              READ MORE
            </button></a
          >
          <a href="/contact"
            ><button class="btn btn-lg btn-outline-warning button2">
              CONTACT US
            </button></a
          >
        </p>
      </div>
    </div>
    <!-- CONTENT -->
    <h2 class="heading-p text-center mt-5" id="readmore">
      Explore Online Coding Classes For Kids And Adults Of Age 6-20
    </h2>
    <!-- <h5 class="text-center content-p">
      Building and programming immersive 3-D application for the VR future is
      difficult, but we help make it easy!
    </h5> -->
    <!-- <hr class="stars" /> -->
    <!-- CARD FLIP -->

    <section>
      <div class="container mb-3 pb-5">
        <div class="row no-gutters">
          <div class="col-md-4 my-4">
            <div class="flipper flipper-xl">
              <div class="flipper-card">
                <div class="flipper-front card__front" style="box-shadow: none">
                  <div class="card card-01" style="box-shadow: none">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light">C++</h4>
                      <p class="card-text text-light">
                        C++ is known to be a very powerful language. C++ allows
                        you to have a lot of control as to how you use computer
                        resources, its speed and ability to cheaply use
                        resources should be able to surpass other languages.
                      </p>
                      <p class="card-text text-light" style="font-weight: 600">
                        16 Sessions&nbsp;&nbsp;&nbsp;Age: 13 - 20
                      </p>
                      <div class="profile-box-01">
                        <img
                          class="card-img-top"
                          src="/images/c++.png"
                          alt="Card image cap"
                        />
                        <img
                          class="card-img-top"
                          src="/images/gfg.png"
                          alt="Card image cap"
                        />
                        <!-- <img
                        class="card-img-top"
                        src="/images/AI.png"
                        alt="Card image cap"
                      /> -->
                      </div>
                      <div class="card-button">
                        <button class="btn btn-outline-light">
                          <span
                            >1-on-1
                            <i class="fas fa-long-arrow-alt-right"></i>
                            ₹6000</span
                          ><!--<span> | </span> Group
                        <span>₹5166</span> -->
                        </button>
                      </div>
                      <a
                        href="/contact"
                        class="btn btn-default text-uppercase my-1"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
                <div class="flipper-back card__back" style="box-shadow: none">
                  <div class="card card-01" style="box-shadow: none">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light">C++</h4>

                      <ul class="card-text text-light details text-left">
                        <li>Introduction to C++ Variables & rules, Setup</li>
                        <li>ASCII Code</li>
                        <li>Arithmetic& Logical Operator</li>
                        <li>Loops & Switch</li>
                        <li>String</li>
                        <li>Array</li>
                        <li>Sorting Technique</li>
                        <li>Stack</li>
                        <li>Queue</li>
                        <li>Linklist</li>
                      </ul>
                      <p class="card-text text-light" style="font-weight: 600">
                        Apart from this we will do bunch of question on all
                        topics.
                      </p>
                      <a
                        href="/contact.html"
                        class="btn btn-default text-uppercase"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 my-4">
            <div class="flipper flipper-xl">
              <div class="flipper-card" style="box-shadow: none">
                <div class="flipper-front card__front" style="box-shadow: none">
                  <div class="card card-01">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light">Python</h4>
                      <p class="card-text text-light my-5">
                        Master Python, the language of future
                      </p>
                      <p
                        class="card-text text-light my-5"
                        style="font-weight: 600"
                      >
                        16 Sessions&nbsp;&nbsp;&nbsp;Age: 13 - 18
                      </p>
                      <div class="profile-box-01 my-4">
                        <img
                          class="card-img-top"
                          src="/images/python.png"
                          alt="Card image cap"
                        />
                        <img
                          class="card-img-top"
                          src="/images/hackerrank.png"
                          alt="Card image cap"
                        />
                        <!-- <img
                        class="card-img-top"
                        src="/images/AI.png"
                        alt="Card image cap"
                      /> -->
                      </div>
                      <div class="card-button">
                        <button class="btn btn-outline-light">
                          <span
                            >1-on-1
                            <i class="fas fa-long-arrow-alt-right"></i>
                            ₹6000</span
                          ><!--<span> | </span> Group
                        <span>₹5166</span> -->
                        </button>
                      </div>
                      <a
                        href="/contact"
                        class="btn btn-default text-uppercase my-1"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
                <div class="flipper-back card__back" style="box-shadow: none">
                  <div class="card card-01" style="box-shadow: none">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light">Python</h4>

                      <ul class="card-text text-light details text-left">
                        <li>Introduction to basic python, setup</li>
                        <li>Modules, Comments & Pip</li>
                        <li>Variables & Data Types</li>
                        <li>Strings</li>
                        <li>Lists & Tuples</li>
                        <li>Dictionary & Sets</li>
                        <li>Conditional Expressions</li>
                        <li>Loops in Python</li>
                        <li>Function & Recursion</li>
                        <li>Basic of OOPS</li>
                        <li>A Small Project</li>
                      </ul>
                      <p class="card-text text-light" style="font-weight: 600">
                        Apart from this we will do bunch of question on all
                        topics.
                      </p>
                      <a
                        href="/contact"
                        class="btn btn-default text-uppercase"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 my-4">
            <div class="flipper flipper-xl">
              <div class="flipper-card">
                <div class="flipper-front card__front" style="box-shadow: none">
                  <div class="card card-01" style="box-shadow: none">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light">Web Development</h4>
                      <p class="card-text text-light">
                        Web development gives you the opportunity to express
                        yourself creatively on the internet. Fortunately, the
                        high demand, easy-to-learn, fun-to-experience life of a
                        web developer is always a great choice for someone ready
                        to have an exciting career in code.
                      </p>
                      <p class="card-text text-light" style="font-weight: 600">
                        16 Sessions&nbsp;&nbsp;&nbsp;Age: 13 - 21
                      </p>
                      <div class="profile-box-01">
                        <img
                          class="card-img-top cit"
                          src="/images/html.png"
                          alt="Card image cap"
                        />
                        <img
                          class="card-img-top cit"
                          src="/images/css.png"
                          alt="Card image cap"
                        />
                        <img
                          class="card-img-top cit"
                          src="/images/bootstrap.png"
                          alt="Card image cap"
                          width="30"
                          height="30"
                        />
                        <img
                          class="card-img-top cit"
                          src="/images/js.png"
                          alt="Card image cap"
                        />
                        <img
                          class="card-img-top cit"
                          src="/images/nodejs.png"
                          alt="Card image cap"
                        />
                      </div>
                      <div class="card-button">
                        <button class="btn btn-outline-light">
                          <span
                            >1-on-1
                            <i class="fas fa-long-arrow-alt-right"></i>
                            ₹6000</span
                          >
                        </button>
                      </div>
                      <a
                        href="/contact"
                        class="btn btn-default text-uppercase my-1"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
                <div class="flipper-back card__back" style="box-shadow: none">
                  <div class="card card-01" style="box-shadow: none">
                    <div class="card-body text-center">
                      <h4 class="card-title text-light my-3">
                        Web Development
                      </h4>

                      <ul class="card-text text-light details text-left">
                        <li>Basic of HTML</li>
                        <li>CSS-styling, padding, small animations</li>
                        <li>Bootstrap-to make styling of website easy</li>
                        <li>
                          JavaScript-basic of JavaScript, its usage, Operators
                          (Arithmetic & Logical), Loop, Arrow Function, Reserve
                          Word
                        </li>
                        <li>
                          JSON-Datatypes, its usage and similarity with
                          JavaScript
                        </li>
                        <li>
                          Nodejs-How to create and run local server, write some
                          Api
                        </li>
                      </ul>
                      <a
                        href="/contact"
                        class="btn btn-default text-uppercase"
                        >Book Free Demo</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-3 pb-2">
        <h2 class="text-center my-3 alumni-h">Brought to you by alumni from</h2>
        <div class="profile-box-01 my-5">
          <img
            class="card-img-top cit1"
            src="/images/dtu3.png"
            alt="Card image cap"
          />
          <img
            class="card-img-top cit2"
            src="/images/IITK.png"
            alt="Card image cap"
          />
          <img
            class="card-img-top cit3"
            src="/images/amazon4.png"
            alt="Card image cap"
          />
          <img
            class="card-img-top cit4"
            src="/images/flipkart2.png"
            alt="Card image cap"
          />
          <img
            class="card-img-top cit5"
            src="/images/samsung.png"
            alt="Card image cap"
          />
        </div>
      </div>
    </section>
    <!-- WHY CHOOSE US -->
    <section id="whyus" class="mb-4">
      <h2 class="text-center mb-2 whychooseus-h">Why choose Code Strong?</h2>
      <!-- WHYCHOOSEUS CARDS -->
      <div class="container">
        <div class="card-group cg-2">
          <div class="card c2">
            <i class="fas fa-book"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">Personalised Curriculum</h4>
              <!-- <p class="card-text">
                Live Screen Sharing, Code Editors, Whiteboards, A/V Streaming,
                Doc Sharing and More!
              </p> -->
            </div>
          </div>
          <div class="card c2">
            <i class="fas fa-briefcase-medical"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">Flexible Time Sessions</h4>
              <!-- <p class="card-text">
                Pick a day and a time according to your needs and we’ll be
                there!
              </p> -->
            </div>
          </div>
          <div class="card c2">
            <i class="fas fa-football-ball"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">Regular Updates</h4>
              <!-- <p class="card-text">
                Class quizzes, group contests, and projects to reinforce your
                learning and help you earn coins!
              </p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-group cg-2">
          <div class="card c2">
            <i class="fas fa-globe-americas"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">
                1x1 Format for kids and Group Format for Adults
              </h4>
              <!-- <p class="card-text">There’s something for everyone!</p> -->
            </div>
          </div>
          <div class="card c2">
            <i class="fas fa-car-side"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">Learn through Cartoon and Games</h4>
              <!-- <p class="card-text">
                You’ll get coins for acing quizzes, helping peers, etc learn
                while you play!
              </p> -->
            </div>
          </div>
          <div class="card c2">
            <i class="fas fa-phone-alt"></i>
            <div class="card-body cb-2">
              <h4 class="card-title ct-2">Regular Feedback</h4>
              <!-- <p class="card-text">
                Receive regular feedback on your child’s progress from the
                trainers!
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- TESTIMONIAL -->
    <!-- <section>
      <h6 class="text-uppercase text-center testimonials-h6 mt-4">
        What Our Students Says!
      </h6>
      <h2 class="text-center mb-2 testimonials-h">Success Stories</h2>
      

      <div class="container container-test">
        <div class="wrapper">
          <div class="card card-test">
            <div class="card-thumb">
              <img src="/images/client 1.jpg" class="client-img" alt="" />
            </div>
            <div class="card-body cb-test">
              <p class="review">
                I received the best kind of mentorship and training in
                CodeStrong. They make me fall in love with C++ and it help me
                alot to grab a good job from my college.Thank you CodeStrong.
              </p>
              <div class="ratings">
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="far fa-star star-test"></i>
              </div>
              <span class="client-name">Abhishek</span>
            </div>
          </div>

          <div class="card card-test">
            <div class="card-thumb">
              <img src="/images/client 2.jpg" class="client-img" alt="" />
            </div>
            <div class="card-body cb-test">
              <p class="review">
                If there is anything I look forward during the weeks apart from
                my study is to practice coding and attend classes to learn new
                things. CodeStrong help me alot and boost my confidence from 0
                to 100.I appreciate the team and their help during the session.
              </p>
              <div class="ratings">
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="fas fa-star star-test"></i>
                <i class="far fa-star star-test"></i>
              </div>
              <span class="client-name">Adwait</span>
            </div>
          </div>
        </div>
        <div class="indicators">
          <button class="active"></button>
          <button></button>
        </div>
      </div>
    </section> -->
    <section id="testim" class="testim">
      <!--         <div class="testim-cover"> -->
      <h6 class="text-uppercase text-center testimonials-h6 mt-4">
        What Our Students Says!
      </h6>
      <h2 class="text-center mb-2 testimonials-h">Success Stories</h2>
      <div class="wrap">
        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>
        <ul id="testim-dots" class="dots">
          <% if(data!=''){%>
            <% data.forEach(function(row){ %>
          <!-- <li class="dot active"></li> -->
          <li class="dot"></li>
          <!-- <li class="dot"></li>
          <li class="dot"></li> -->
          <% })} %>
        </ul>
        <div id="testim-content" class="cont">
          
          <% if(data!=''){%>
            <% data.forEach(function(row){ %>
              <!-- <div class="active"> -->
          <div>
                <div class="img"><img src="/<%=row.image %>" alt="" /></div>
                <h2><%= row.name %></h2>
                <p>
                  <%= row.comment %>
                  <!-- I received the best kind of mentorship and training in CodeStrong.
                  They make me fall in love with C++ and it help me alot to grab a
                  good job from my college.Thank you CodeStrong. -->
                </p>
              </div>
          <!-- </div> -->
          <% })} else{%>
<p>No data Found </p>
          <%} %>
            
           
<!-- 
          <div>
            <div class="img"><img src="/images/client 2.jpg" alt="" /></div>
            <h2>Adwait</h2>
            <p>
              If there is anything I look forward during the weeks apart from my
              study is to practice coding and attend classes to learn new
              things. CodeStrong help me alot and boost my confidence from 0 to
              100.I appreciate the team and their help during the session.
            </p>
          </div> -->
        </div>
      </div>
    </section>
    <div class="container mb-4 feedback">
      <h2 class="text-center mb-4 testimonials-h">Write Your Feedback Here</h2>

      <p class="text-right">
        please fill all column which are marked as <sup class="req">*</sup>
      </p>
      <%- include('message') %>
      <form action="/feedback" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputName1"
            >Your Name <sup class="req">*</sup></label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputName1"
            name="name"
            aria-describedby="nameHelp"
            placeholder="Enter Your Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1"
            >Upload Your Profile <small> (optional)</small></label
          >
          <input
            type="file"
            class="form-control-file"
            name="avatar"
            id="exampleFormControlFile1"
            accept="image/*"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            >Enter Your Comments <sup class="req">*</sup></label
          >
          <textarea
            class="form-control"
            name="comment"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
          <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
    <!-- FOR ADDING COMMENTS -->
    <!-- <div class="container com-con mt-5">
      <div class="row">
        <div class="col-12">
          <div class="comments">
            <div class="comments-details">
              <span class="total-comments comments-sort">117 Comments</span>
              <span class="dropdown">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-toggle="dropdown"
                >
                  Sort By <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Top Comments</a>
                  <a href="#" class="dropdown-item">Newest First</a>
                </div>
              </span>
            </div>
            <div class="comment-box add-comment">
              <span class="commenter-pic">
                <img
                  src="/images/user.jpg"
                  width="50"
                  height="auto"
                  class="img-fluid"
                />
              </span>
              <span class="commenter-name">
                <input type="text" placeholder="Your Name" name="name" />
                <input
                  type="text"
                  placeholder="Add a public comment"
                  name="comment"
                />
                <button type="submit" class="btn btn-default">Comment</button>
                <button type="cancel" class="btn btn-default text-danger">
                  Cancel
                </button>
              </span>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="comment-box">
              <span class="commenter-pic">
                <img
                  src="/images/user.jpg"
                  width="50"
                  height="auto"
                  class="img-fluid"
                />
              </span>
              <span class="commenter-name">
                <a href="#">Happy markuptag</a>
                <span class="comment-time">2 hours ago</span>
              </span>
              <p class="comment-txt more">
                All comments gors here..in this area
              </p>
              <div class="comment-meta">
                <button class="comment-like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99
                </button>
                <button class="comment-dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149
                </button>
                <button class="comment-reply reply-popup">
                  <i class="fa fa-reply-all" aria-hidden="true"></i> Reply
                </button>
              </div>
              <div class="comment-box add-comment reply-box">
                <span class="commenter-pic">
                  <img
                    src="/images/user.jpg"
                    width="50"
                    height="auto"
                    class="img-fluid"
                  />
                </span>
                <span class="commenter-name">
                  <input
                    type="text"
                    placeholder="Add a public reply"
                    name="Add Comment"
                  />
                  <button type="submit" class="btn btn-default">Reply</button>
                  <button type="cancel" class="btn btn-default reply-popup">
                    Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="footer">
      <div class="icons pt-3">
        <a href="#" class="social-icons"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icons"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icons"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="copy pt-3">
        <p>Copyright @2021, All Rights Reserved.</p>
      </div>
    </div>
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    <script src="/javascripts/carousel.js"></script>

    <script>
      $(document).ready(function () {
        $(".flipper").on("click", function () {
          $(this).find(".flipper-card").toggleClass("flipper-is-flipped");
        });
      });
    </script>
    <!-- <script>
      // Reply box popup JS
      $(document).ready(function () {
        $(".reply-popup").click(function () {
          $(".reply-box").toggle();
        });
      });
    </script> -->
  </body>
</html>
